@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    --bg-color: #515751;
    --primary-color: #f5f9e9e1;
}

body {
    background-color: #003F7F;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

}
.todoTitle{
    color:  var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
#material-icons-add{
   font-size: 35px; 
   cursor: pointer;
}
body h1{
    color:  var(--primary-color);
    text-align: center;
    margin: 2px;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.tasksList{
    flex-grow: 4;
    max-width: 24%;
    min-height: 50vh;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 52px 5px rgba(0,0,0,0,0.4);
    margin: 5px;
}
.tasksList h3{
    text-transform: uppercase;
}
.tasksList span{
    cursor: pointer;
}
.headerList{
    display: flex;
    justify-content: space-between;
}
.dropdown-list{
    position: relative;
    display: inline-block;
    
}
.dropdown-content{
    display: none;
    position: absolute;
    min-width: 90px;
    background-color: var(--primary-color);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 12px 16px;
    z-index: 1;
}
.dropdown-list:hover .dropdown-content{
    display: block;
}
.task{
    display: flex;
    word-break: break-all;
    justify-content: start;
    align-items: center;
}
.task label{
    padding:15px ;
}
.task span {
    cursor: pointer;
}
.checkbox-round {
    min-width: 20px;
    height: 20px;
    background-color: var(--primary-color);
    border-radius: 50%;
    border: 2px solid #000;
    appearance: none;
    cursor: pointer;
}
.checkbox-round:checked {
    background-color: black;
}
input[type=checkbox]:checked + label.strikethrough{
    text-decoration: line-through;
    font-weight: bold;
}
footer{
    color: var(--primary-color);
    text-align: center;
}


@media (max-width: 768px) {
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tasksList{
        min-width: 60%;
        max-width: 60%;
        padding: 20px;
        margin: 5px;
    }
}

@media (max-width: 425px) {
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tasksList{
    min-width: 35%;
    padding: 20px;
    margin: 5px;
}
}

@media (max-width: 375px) {

}